@import '~reset-css';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

h1 {
  font-weight: bold;
  font-size: 230%;
  margin: 7px 13px;
}

h2 {
  font-weight: bold;
  font-size: 150%;
  margin: 7px;
}

.Container {
  padding: 13px;
  border: 1px solid;
  margin: 7px;
}

.Item {
  margin: 13px 0;
}

.Disabled {
  opacity: .3;
}

.Remove {
  cursor: pointer;
}
